<!DOCTYPE html>
<html lang="en">
<head id="water">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href ="../../SE_Project3_calorieApp_server/static/waterStyle.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='waterStyle.css') }}">
</head>
<body>
    <h1>Drink Water</h1>
    <h3>Goal: 2 Liters</h3>

    <div class="cup">
        <div class="remained" id="remained">
            <span id="liters"></span>
            <small>Remained</small>
        </div>
        <div class="percentage" id="percentage"></div>
    </div>
    <p class="text">Select how many glasses of wter that you have drank</p>
    <div class="cups">
        <div class="cup cup-small">250ml</div>
        <div class="cup cup-small">250ml</div>
        <div class="cup cup-small">250ml</div>
        <div class="cup cup-small">250ml</div>
        <div class="cup cup-small">250ml</div>
        <div class="cup cup-small">250ml</div>
        <div class="cup cup-small">250ml</div>
        <div class="cup cup-small">250ml</div>
    </div>
    <a href="{{url_for('dashboard')}}" class="btn">Okay</a>
  <script src="{{ url_for('static', filename='js/scripts.js') }}?v={{ cache_buster }}"></script>

</body>
</html>