name: Code Coverage

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install MongoDB
        run: |
          wget -qO - https://www.mongodb.org/static/pgp/server-6.0.asc | sudo apt-key add -
          echo "deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu focal/mongodb-org/6.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-6.0.list
          sudo apt update
          sudo apt install -y mongodb-org
          sudo mkdir -p /data/db
          sudo chown -R `id -u` /data/db
          sudo service mongod start
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov codecov
          pip install openai
          
      - name: Wait for MongoDB to start
        run: |
          while ! nc -z localhost 27017; do   
            sleep 1
          done
          mongoimport --db test --collection questions --file quizDB.json --jsonArray
      
      - name: Run tests with coverage
        run: |
          pytest --cov=calorieApp_server tests/

      - name: Upload coverage to Codecov
        run: |
          codecov
